<html>
<div class = "jumbotron">
 
<center><h2>Listing Profiles</h2></center>
</div>
<center>
<div class="row">
    <div clas="col-md-6">
        <div class ="panel-body">
                    <table class="form-group">
    <div class = "panel-heading">
    <span style="display:inline-block; width: 30%;">
    <table border = 2, width = 100%, height = 100, align ="center">
        <tr>
        <th>Profile Name</th>
        <th>Profile ID </th>
        <th>Base_url</th>
        <th>Auth_type</th>
        <th>Edit</th>
        <th>Delete</th>
        
        </tr>
        </div>
  
  <% @profiles.each do |profile| %>
    <tr>
      <td><%= profile.name %></td>
      <td><%= profile.id %></td>
      <td><%= profile.base_url %></td>
      <td><%= profile.auth_type %></td>
      
      <td><%= link_to 'Edit', edit_profile_path(profile), class: "btn-btn-success" %> <br/> </td>
      <td><%= link_to 'Delete ', [profile],
               method: :delete,
               data: { confirm: 'Are you sure?' } , class: "btn-btn-info" %></td>
    </tr>
   </span>
  <% end %>
</table>

</div>
</div>
</div>
</div>
</div>
</center>
<br>

<center><%= link_to "Create New Profile",new_profile_path , class: "button"%> <br/><br/></center>
</div>
</html>